.nav {
  background-color: #046380;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.nav h1 {
  color: #046380;
  margin: 0;
  font-size: 40px;
}

.nav .nav-search {
  flex: 1;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
}

.nav .nav-search input {
  flex: 1;
  color: #333333;
  border: 0;
  height: 39px;
  border-right: none;
  outline: none;
  padding: 0 10px;
}

.nav .nav-search button {
  color: #046380;
  border: 1px solid #046380;
  height: 39px;
}

.nav ul {
  display: inline-flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav ul li {
  padding-left: 15px;
  padding-top: 15px;
}

.nav ul a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

h1 a {
  color: #046380;
  text-decoration: none;
}

.suggested-search {
  position: absolute;
  top: 40px;
  z-index: 10;
  display: list-item !important;
  border: 0;
  background-color: #fff;
  width: 300px;
}

.suggested-search li {
  padding: 5px;
  border: 1px solid #ddd;
}

.suggested-search li a {
  cursor: pointer;
  color: #046380;
}